*{
          margin: 0px;
          padding: 0px;
          font-family: "Solway", serif;
          box-sizing: border-box;
}

#container{
          width: 100%;
          height: 100vh;
          position: relative;
}

nav{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 100px;
}

.logo{
          width: 100px;
          margin-top: 15px;
}

.list-items{
          list-style: none;
          display: inline;
          margin: 0px 30px;
          font-size: 20px;
}

.list{
          color: black;
          text-decoration: none;
          font-weight: 600;
}


.list:hover{
          color: red;
          text-decoration: underline;
}

.home-content{
          margin: 13% 0px 0px 8%;
          

}

#user-name{
          margin-bottom: 1%;
          font-size: 50px;
          font-family: "Grey Qo", cursive;
     }

#lname{
     font-family: "Grey Qo", cursive;
     color: orange; 
}

#user-details{
          line-height: 1.2;
          
          
}

#download{
          text-decoration: none;
          background-color: black;
          color: white;
          padding: 10px;
          display: inline-block;
          margin-top: 30px;
          border-radius: 10px;
}

.home-image{
          width: 45%;
          height: 75%;
          position: absolute;
          bottom: 0px;
          right: 30px;
}

.group1{
          position: absolute;
         
          bottom: 0px;
          height: 100%;
          left: 30%;
          transform: translateX(-30%);
}

.home-image:hover #shape{
          bottom: 80px;
}

.home-image:hover #girl{
          left: 10%;
}

#about{
          margin: 25% 8% 0% 8%;
}

.sectionHead{
          text-align: center;
}

#mainHead{
          font-size: 30px;
}

#subHead{
          font-size: 20px;
          color: green;
}

.aboutBody{
          margin-top: 20px;
          align-items: center;
          display: grid;
          grid-template-columns: repeat(2,1fr);
          gap: 50px;

}

.img1{
          width:100% ;
}

.aboutContent{
          font-size: 20px;
          text-align: justify;
}

.informations{
          margin-top: 1.3rem;
}

.infoBox>span{
          margin-left: 1rem;
}

#skill{
          margin: 8% 8% 0px 8%;
}

.skillContent{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          align-items: center;
          gap: 2rem;
          margin-top: 20px;
}

.bars{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          padding: 1rem 0px;
}

.mainHead,.barPerctange{
          font-weight: 500px;
          font-size: 1.3rem;
          
          
}

.baseBar{
          width: 100%;
          height: 0.5rem;
          background-color: black;
          border-radius: 10px;
          position: absolute;
     bottom: 0px;

}

.htmlBar{
          background-color: orange;
          width: 89%;
}

.cssBar{
          background-color: orange;
          width: 82%;
}

.jsBar{
          background-color: orange;
          width: 71%;
}
.reactBar{
          background-color: orange;
          width: 87%;
}

#contact{
          margin: 8% 8% 0px 8%;
}

.iconCollection{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 5%;
}

.icon{
          width: 50px;
          height: 50px;
          border-radius: 50% ;
          /* border: solid; */
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px 10px;
         

}


.brands{
     font-size: 2rem;
     color: black;
}

.icon:hover{
background-image: linear-gradient(to bottom right, red,blue,green);

}

.icon:hover .brands{
     color: white;
     animation: rotation 3s;
}

@keyframes rotation{
     0%{
          transform: rotate(30deg);
     }
     20%{
          transform: rotate(-30deg);
     }
     40%{
          transform: rotate(30deg);
     }
     60%{
          transform: rotate(30deg);
     }
     80%{
          transform: rotate(30deg);
     }
     100%{
          transform: rotate(-30deg);
     }
}
footer{
     margin-top: 8%;
    padding-bottom: 2%;
}
.copyRight{
     text-align: center;
    
     font-size: 18px;
     font-weight: 600;
}

.upArrow{
     float: right;
     margin: -50px 20px 0px 0px ;
}

html{
     scroll-behavior: smooth;
}


/* scroll bar */
::-webkit-scrollbar{
     width: 10px;
     border-radius: 10px;
}

::-webkit-scrollbar-track{
     background-color: rgb(240, 233, 233);
}

::-webkit-scrollbar-thumb{
    
     background-color: orange;
     border-radius: 10px;
}